@use "@styles/variables.scss" as *;

.multi-select {
    height: 35px;
    width: 200px;

    &>.MuiOutlinedInput-notchedOutline {
        border: 1px solid $primary-color !important;
    }

    &__paper {
        max-height: 400px !important;
    }

    &__list-sub-header {
        padding: 5px 0;
    }

    &__search-bar {
        width: 100%;
        height: 35px;
        border: 1px solid $border-color;
    }

    &__list-item {
        padding: 2px 16px !important;
        
        &__text {
            &>span {
                max-width: 215px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }
}