.category {
    &-wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &-header {
        margin-top: 10px;
    }

    &-delete-confirm {
        max-width: 500px;
        
        &>p:first-child {
            margin: 0;
        }

        &>p:last-child {
            margin-bottom: 0;
        }
    }
}