@use "@styles/variables.scss" as *;

.category-form {
    height: 100%;

    &-wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &__main-content {
        flex: 1;
        padding: 20px 10px;
        display: flex;
        flex-direction: column;
        gap: 30px;

        &__label {
            color: $primary-color !important;
            margin-bottom: 5px;
        }

        &__text-field {
            .MuiInputBase-root {
                height: 40px;
            }
        }

        &__text-area {
            .MuiInputBase-root {
                &>svg {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    transform: rotate(135deg);
                    color: $border-color;
                }
            }
        }

        &__loading {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__footer {
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
        padding: 0 10px;
        background: $primary-bg;

        &__button {
            text-transform: capitalize !important;
            font-weight: 600 !important;
        }
    }

    .field-required {
        color: rgb(243, 32, 32);
    }
}