@use "@styles/variables.scss" as *;

.product {
    &-wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;

        &__right {
            display: flex;
            align-items: center;
            gap: 20px
        }

        &__category-filter {
            display: flex;
            flex-direction: row !important;
            align-items: center;
            gap: 5px;

            &>label {
                color: $primary-color;
                font-weight: 600;
            }

            &>.Mui-focused {
                color: $primary-color !important;
            }
        }

        &__icon-view {
            .icon-button {
                background-color: $tertiary-bg;
                border-radius: 30%;
                padding: 7px;

                &>svg {
                    font-size: 25px;
                    color: $primary-color;
                }
            }
        }
    }

    &__add-icon-popover {
        .list-item {
            padding: 10px 16px;
        }

        .divider {
            margin: 0 !important;
        }
    }

    &-main-content {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding-bottom: 10px;

        &__table {
            display: flex;
            flex-direction: column;
            gap: 10px;

            &-name {
                background: $tertiary-bg;
                width: fit-content;
                padding: 5px 10px;
                border-radius: 5px;
                cursor: pointer;

                &:hover {
                    background: rgba($color: $tertiary-bg, $alpha: 0.029);
                }

                &>span {
                    margin: 0 5px;
                    font-size: 18px;
                    font-weight: 600;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                }
            }
        }

        &__empty-table {
            width: 100%;
            height: 100px;
            display: flex;
            justify-content: center;
            background-color: $paper-bg;
            border-radius: 5px;
            box-shadow: $paper-shadow;

            &>img {
                width: 200px;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.product-table-cell {
    &__name {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        
        display: -webkit-box;
        line-clamp: 2;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;   
    }

    &__image {
        width: 100%;
        height: 60px;

        &>img {
            width: 60px;
            height: 100%;
            object-fit: cover;
            border-radius: 5px;
            box-shadow: $paper-shadow;
        }
    }
}