.table {
    &-wrapper {
        width: 100%;
        overflow: hidden;
    }

    &-container {
        max-height: 100%;
    }

    &-head{
        &__cell {
            font-size: 16px !important;
            font-weight: 600 !important;
        }
    }

    &-body {
        &__cell-action {
            width: 10%;

            &>button:first-child {
                margin-right: 5px;
            }
        }
    }
}